@model UserModel; 

<div class="row text">
            <p>
                <h1>Sign up</h1>
            </p>
            <div>
                <form asp-action="Register">

                    <div style="display: grid; grid-gap: 10px; padding: 20px">
                        <div class="form-group row">
                            <label asp-for="FullName" class="col-sm-4 col-form-label control-label">FullName</label>
                            <div class="col-sm-8">
                                <input asp-for="FullName" class="form-control" />
                            </div>
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Username" class="col-sm-4 col-form-label control-label">Username</label>
                            <div class="col-sm-8">
                                <input asp-for="Username" class="form-control" />
                            </div>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Password" class="col-sm-4 col-form-label control-label">Password</label>
                            <div class="col-sm-8">
                                <input type="password" asp-for="Password" class="form-control" />
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group row" hidden>
                            <label asp-for="Wallet" class="col-sm-4 col-form-label control-label"></label>
                            <input asp-for="Wallet" class="form-control" value="1000"/>
                            <span asp-validation-for="Wallet" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="padding-top: 20px">
                            <input class="btn btn-outline-success float-right" type="submit" value="Sign up" />
                        </div>
                    </div>
                    
                </form>
            </div>
</div>